 .nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    float: left;
    clear: right;
    list-style: none;
}

.page-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    max-width: 550px;
    line-height: 29px;
    padding: 16px;
}

.nav-element{
    display: flex;
    margin: 5px;
    padding:5px 10px 5px 10px;
    background: #495057;
    color: white;
    align-items: center;
    border: 1px;
    border-radius: 10px;
    font-family: "Source Code Pro", monospace;
}

.left{
    float:left
}

.right{
    float: right
}

.childElement{
    margin-left: 10px;
    font-family: 'Source Serif Pro', serif;
}

a,a:hover {
    text-decoration: none;
    border-bottom: 1px solid #ded4da;
    padding: 0px 3px;
    color: #3d3d3d;
    transition: all 0.15s;
    cursor: pointer;
}

p {
    margin: 0 0 5px;
  }

  .para{
      margin-top: 20px;
  }

code{
    font-family: 'Source Serif Pro', serif;
}
/*------------------------------*/
/*------------------------------*/
